# CORS Settings
ALLOW_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
ALLOW_CREDENTIALS=true
ALLOW_METHODS=*
ALLOW_HEADERS=*

# JWT Settings
JWT_SECRET_KEY=your_jwt_secret_key
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60

# GOOGLE OAuth Settings
# OAuth client
GOOGLE_CLIENT_ID="584326039183-5nts8r6cfr0rpa8jrspdev45cgl6i4mb.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"
GOOGLE_REDIRECT_URI="http://localhost:8000/api/v1/auth/google/callback"

# SessionMiddleware Settings
SESSION_SECRET_KEY=""

# Host URL
FRONTEND_URL="http://localhost:3000"
BACKEND_URL="http://localhost:8000"

# Database Settings
POSTGRES_USER=admin
POSTGRES_PASSWORD=123
POSTGRES_DB=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5433

# SessionMiddleware Settings
SESSION_SECRET_KEY=""

# Frontend URL
FRONTEND_URL="http://localhost:3000"

# MinIO Settings
MINIO_ENDPOINT=http://localhost:9002
MINIO_ACCESS_KEY=admin123
MINIO_SECRET_KEY=admin123
MINIO_ROOT_USER=admin123
MINIO_ROOT_PASSWORD=admin123
MINIO_SECURE=false

# Qdrant Settings
QDRANT_HOST=localhost
QDRANT_PORT=6335
QDRANT_API_KEY=
QDRANT_COLLECTION_NAME=hcmute_chatbot

# Redis Settings
REDIS_HOST=localhost
REDIS_PORT=6380
REDIS_PASSWORD=
REDIS_DB=0

# LLMs, EMBEDDINGS Settings
EMBEDDING_PROVIDER=OPENAI
EMBEDDING_MODEL_NAME=text-embedding-3-small

LLM_PROVIDER=OPENAI
LLM_COST_EFFECTIVE_MODEL_NAME=gpt-4.1-mini
LLM_HIGH_PERFORMANCE_MODEL_NAME=gpt-5-mini

# API KEYS
OPENAI_API_KEY=""
DEEPSEEK_API_KEY=""


# RAG Settings
FILE_BUCKET_NAME=hcmute-chatbot-rag
RAG_RETRIEVAL_MODE=HYBRID  # DENSE, SPARSE, HYBRID
CHAT_HISTORY_TABLE_NAME=chat_history

# Datalab SDK Settings
DATALAB_API_KEY=""

# TRACING
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=

# LIMIT
QUESTION_LIMIT_PER_DAY=20